<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.oa.flow.mapper.SeaDefinitionMapper">
	
	<!--查询列表-->
    <select id="queryByCode" resultType="camelKeyMap">
        SELECT a.id, a.name, a.data_source as "dataSource"
        FROM sea_definition a 
        LEFT JOIN sys_company b ON b.id = a.company_id
        <where>
            <if test="_databaseId == 'mysql'">
                b.code LIKE CONCAT(#{prefix}, '%')
            </if>
            <if test="_databaseId == 'postgresql'">
            	b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'kingbase'">
                b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'dm'">
                b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'oracle'">
                b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'sqlserver'">
                b.code LIKE #{prefix} + '%'
            </if>
            <if test="_databaseId == 'mysql' and name != null and name != ''">
                AND a.name LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="_databaseId == 'postgresql' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'kingbase' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'dm' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'oracle' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'sqlserver' and name != null and name != ''">
                AND a.name LIKE '%' + #{name} + '%'
            </if>
        </where>
    </select>
    
</mapper>
