<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagull.oa.export.mapper.JellyExportRuleMapper">

    <select id="queryAll" resultType="camelKeyMap">
        SELECT
            id,
            company_id as "companyId",
            code,
            name,
            data_source as "dataSource",
            business_rule_id as "businessRuleId",
            sz_code as "szCode",
            sc_code as "scCode"
        FROM jelly_export_rule ORDER BY length(code), code asc
    </select>

</mapper>