<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagull.oa.excel.mapper.JellyFormMapper">

    <!--查询公共数据-->
	<select id="queryPublicList" resultType="camelKeyMap">
		${sql}
	</select>
</mapper>