<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagull.oa.excel.mapper.JellyMetaFunctionMapper">

    <!--查询多级-->
	<select id="queryMultiByPath" resultType="string">
        SELECT b.script FROM jelly_meta_function a 
        	LEFT JOIN jelly_meta_function b ON b.parent_id = a.id
        <where>
            a.path = #{route}
            AND b.path = #{path}
        </where>
    </select>
    
</mapper>
