<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seagox.oa.excel.mapper.JellyGaugeMapper">
    
    <!--查询列表-->
    <select id="queryByCode" resultType="camelKeyMap">
        SELECT a.id, a.name, a.company_id as "companyId",a.config,
        <if test="_databaseId == 'mysql'">
        	DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%s') AS "createTime" 
        </if>
        <if test="_databaseId == 'postgresql'">
        	to_char(a.create_time,'yyyy-MM-dd HH24:MI:ss') AS "createTime"
        </if>
        <if test="_databaseId == 'kingbase'">
            to_char(a.create_time,'yyyy-MM-dd HH24:MI:ss') AS "createTime"
        </if>
        <if test="_databaseId == 'dm'">
            to_char(a.create_time,'yyyy-MM-dd HH24:MI:ss') AS "createTime"
        </if>
        <if test="_databaseId == 'oracle'">
            to_char(a.create_time,'yyyy-MM-dd HH24:MI:ss') AS "createTime"
        </if>
        <if test="_databaseId == 'sqlserver'">
		    CONVERT(varchar, a.create_time, 120 ) AS "createTime"
		</if>
        FROM jelly_gauge a 
        LEFT JOIN sys_company b ON b.id = a.company_id
        <where>
            <if test="_databaseId == 'mysql'">
                b.code LIKE CONCAT(#{prefix}, '%')
            </if>
            <if test="_databaseId == 'postgresql'">
            	b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'kingbase'">
                b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'dm'">
                b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'oracle'">
                b.code LIKE #{prefix} || '%'
            </if>
            <if test="_databaseId == 'sqlserver'">
                b.code LIKE #{prefix} + '%'
            </if>
            <if test="_databaseId == 'mysql' and name != null and name != ''">
                AND a.name LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="_databaseId == 'postgresql' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'kingbase' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'dm' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'oracle' and name != null and name != ''">
                AND a.name LIKE '%' || #{name} || '%'
            </if>
            <if test="_databaseId == 'sqlserver' and name != null and name != ''">
                AND a.name LIKE '%' + #{name} + '%'
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>
    
</mapper>
